.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

.error-container__error-message {
  width: 80%;
  height: 70%;
}

.error-container__error-pic {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}